@model Spark.Models.SparkArgumentModel

<div class="sparkArgumentPreviewExpanded">
    <div class="sparkArgumentInsideContainerExpanded">
        <div class="sparkArgumentPreviewTitleLineExpanded">
            <div class="sparkExpandedSpark">
                <img src="~/Images/Icons/SparkIcon1.png" alt="Spark" height="20" width="20" />
            </div>
            <div class="sparkUsernameExpanded">
                @Model.strUserName
            </div>
            <div class="sparkInfluenceScoreExpanded">
                Influence: 150
            </div>
            <div class="sparkDownvoteExpanded">
                -# 145
            </div>
            <div class="sparkUpvoteExpanded">
                +# 190
            </div>
            <div class="sparkCommentsCountExpanded">
                Comment # 123
            </div>
        </div>
        <div class="sparkConclusionExpanded">
            <h3>Conclusion</h3>
            <p>
                @Model.strConclusion
            </p>
        </div>
        <div class="sparkArgumentExpanded">
            <h3>Argument</h3>
            <p>
                @Model.strArgument
            </p>
            <h3>Citations</h3>
            <p>
                @Model.strCitations
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkAddCommentExpanded">
                <button id="btnAddComment" onclick="AddComment()">Add Comment</button>
                <div id="sparkArgumentAddComment">
                    <textarea></textarea>
                    <button>Submit</button>
                </div>
            </div>

        </div>
       
    </div>

</div>