<div class="sparkArgumentPreviewDisagree">
    <div class="sparkArgumentInsideContainerDisagree">
        <div class="sparkArgumentPreviewTitleLineDisagree">
            <div class="sparkDisagreeSpark">
                Spark
            </div>
            <div class="sparkUsernameDisagree">
                Username
            </div>
            <div class="sparkInfluenceScoreDisagree">
                IScore
            </div>
            <div class="sparkDownvoteDisagree">
                -vote
            </div>
            <div class="sparkUpvoteDisagree">
                +vote
            </div>
            <div class="sparkCommentsCountDisagree">
                comCount
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
                Lorem ipsum dolor sit amet, lobortis vituperatoribus cum te, eos at brute sonet insolens. Vel ad persecuti expetendis philosophia, mei conceptam scripserit ea. Qualisque maluisset at mea, his te unum homero salutatus, ferri veniam qui ne. Cum dicam graecis ut. Solet constituto voluptatibus quo ea.

                Vim aeque oporteat praesent ad. Phaedrum adipisci interpretaris vel at, nec saepe tempor ad. Vim populo expetenda neglegentur id. Ubique impetus indoctum ea mei. Te sed inani graeci vituperata, graeci accusata cotidieque duo eu. Natum summo scripta no mel, ex cum debet tempor referrentur, illud propriae ea pro. Te duo mutat corrumpit, duo quaestio adolescens scriptorem ad, per no accommodare deterruisset. Qui saperet molestie appellantur ea, gubergren elaboraret nec te. Eu his agam albucius. Mel dignissim incorrupte
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagDisagree">
                Flag
            </div>
            <div class="sparkExpandDisagree">
                <a onclick="popup('popUpDiv')" href="#">Expand</a>
            </div>
        </div>
    </div>
    <div class="sparkArgumentUpDownVoteDisagree">
        <img>Up</img>
        <p style="word-wrap:break-word">1000</p>
        <img>Down</img>
    </div>
</div>