<div class="sparkArgumentPreviewAgree">
    <div class="sparkArgumentInsideContainerAgree">
        <div class="sparkArgumentPreviewTitleLineAgree">
            <div class="sparkAgreeSpark">
                Spark
            </div>
            <div class="sparkUsernameAgree">
                Username
            </div>
            <div class="sparkInfluenceScoreAgree">
                IScore
            </div>
            <div class="sparkDownvoteAgree">
                -vote
            </div>
            <div class="sparkUpvoteAgree">
                +vote
            </div>
            <div class="sparkCommentsCountAgree">
                comCount
            </div>
        </div>
        <div class="sparkConclusion">
            <p>
                Lorem ipsum dolor sit amet, lobortis vituperatoribus cum te, eos at brute sonet insolens. Vel ad persecuti expetendis philosophia, mei conceptam scripserit ea. Qualisque maluisset at mea, his te unum homero salutatus, ferri veniam qui ne. Cum dicam graecis ut. Solet constituto voluptatibus quo ea.

                Vim aeque oporteat praesent ad. Phaedrum adipisci interpretaris vel at, nec saepe tempor ad. Vim populo expetenda neglegentur id. Ubique impetus indoctum ea mei. Te sed inani graeci vituperata, graeci accusata cotidieque duo eu. Natum summo scripta no mel, ex cum debet tempor referrentur, illud propriae ea pro.
            </p>
        </div>
        <div class="sparkArgumentFooter">
            <div class="sparkArgumentFlagAgree">
                Flag
            </div>
            <div class="sparkExpandAgree">
                <a onclick="popup('popUpDiv')" href="#">Expand</a>
            </div>
        </div>
    </div>
    <div class="sparkArgumentUpDownVoteAgree">
        <img>Up</img>
        <p style="word-wrap:break-word">1000</p>
        <img>Down</img>
    </div>
</div>