@model Spark.Models.sparks

<p class="title" hidden="hidden">Spark</p>

@Styles.Render("~/Content/SparkContainer.css")

<div class="sparkTopicLine">
    
    <div class="sparkAgree">
        <a href=".">Agree</a>
    </div>
    
    <div class="sparkTopic">
        <p>Going to war with North Korea would be a mistake</p>
    </div>
    
    <div class="sparkDisagree">
        <a href=".">Disagree</a>
    </div>

</div>

<div class="sparkDivider">
</div>
       

