<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <filepath name="sparkImgRoot" value="\\LUCIFERIS-PC\SparkImages\" />
  <filepath name="sparkCategoryImgRoot" value="\\LUCIFERIS-PC\SparkCategoryImages\" />
  <filepath name="sparkTagImgRoot" value="\\LUCIFERIS-PC\SparkTagImages\" />
</configuration>