@{
    ViewBag.Title = "Homepage";
}

@Scripts.Render("~/Scripts/Homepage.js")
@Styles.Render("~/Content/Homepage.css")

<p class="title" hidden="hidden">Home</p>
<section class="Sparks">
    <div class="CategoryHeaderContainer">
        <p class="FilterHeader">Filter&nbsp;</p>
        <p class="FilterHeader">on category&nbsp;</p>
        <p class="FilterHeader">and/or tag&nbsp;</p>
        <p class="FilterHeader">or just search</p>
    </div>
    <div class="FilterCollectionTable">
        <div class="Row">
            <div class="inputContainer2">
                <div class="inputText2">Category</div>
                <select class="select">
                    <option>Category 1</option>
                    <option>Category 2</option>
                </select>
            </div>
            <div class="inputContainer2">
                <div class="inputText2">Tag</div>
                <select class="select">
                    <option>Tag 1</option>
                    <option>Tag 2</option>
                </select>
            </div>
            <div class="inputContainer2">
                <div class="inputText2">Search</div>
                <input class="input2" placeholder="Type here...">
            </div>

            <button class="button2">Go!</button>
        </div>
    </div>
</section>

<p class="CategoryHeader">Trending</p>
<div class="SparkCollectionTable">
    <div class="Row">
        @foreach (Spark.Models.sparks spark in ViewBag.Sparks)
        {
            @Html.Partial("SparkHomepageTile", spark);
            <div class="VerticalSeparator"></div>
        }
    </div>
</div>






