
<p class="title" hidden="hidden">Portal</p>

<div class="portalBodyContainer">
    <div class="portalHeader">
        <p> Spark debates. Challenge ideas. </p>
    </div>
    <div class="portalExampleImg">
        <p>
            Example img goes here
        </p>
    </div>
    <div class="portalRegistrationButtonContainer">
        <a href=".">
            <button type="button">
                Make your voice heard</br>(It's free!)
            </button>
        </a>
    </div>
    <p class="portalScrollText">v Scroll for what else you'll find inside v</p>
</div>

<div class="portalExtendInfo">
</div>

@*This javascript runs if the user is not authenticated. It hides all functionality to navigate into the site*@
@if (!Request.IsAuthenticated)
{
<script type="text/javascript">
    $(document).ready(function ()
    {
        $(function () {
            $('.NavigationBarHomeIcon').addClass('hidden');
            $('.NavigationBarQueryIcon').addClass('hidden');
            $('.NavigationBarCategoryIcon').addClass('hidden');
            $('.NavigationBarCreateIcon').addClass('hidden');
            $('.NavigationBarTitle').addClass('hidden');
            $('.NavigationBarDivide').addClass('hidden');
            $('.NavigationBarLogoLettering').css("display", "inline");
        });
    });
</script>
}

@Scripts.Render("~/Scripts/PageLoad.js")
