
<p class="title" hidden="hidden">Home Page</p>

<div class="portalBodyContainer">
    <div class="portalHeader">
        <p> Spark debates. Challenge ideas. </p>
    </div>
    <div class="portalExampleImg">
        <p>
            Example img goes here
        </p>
    </div>
    <div class="portalRegistrationButtonContainer">
        <a href=".">
            <button type="button">
                Make your voice heard</br>(It's free!)
            </button>
        </a>
    </div>
    <p class="portalScrollText">v v Scroll for what else you'll find inside v v</p>
</div>

<div class="portalExtendInfo">
</div>



@Scripts.Render("~/Scripts/PageLoad.js")
