<div class="SparkCollectionTable">

    @*Handle the case where there are no tiles to display*@
    @if (((List<Spark.Models.SparkTileModel>)ViewBag.SparksTiles).Count == 0)
    {
        <div style="background-color: #2B2A27">
            <h2 style="text-align: center; height: 700px; color:white; padding-top:50px;">There are no Sparks here. Click create on the navigation bar above to add your own!</h2>
        </div>
    }
    else
    {
        <div class="Row">
            @foreach (Spark.Models.SparkTileModel tile in ViewBag.SparksTiles)
            {
                @Html.Partial("/Views/Home/SparkHomepageTile.cshtml", tile);
                if (tile.UserVoted)
                {
                    <script type="text/javascript">
                        ImageClicked('@tile.PK', '@tile.VoteIsUpvote');
                    </script>
                }
                <div class="VerticalSeparator"></div>
            }
        </div>
    }

</div>