@if (Request.IsAuthenticated)
{
    <div style="float:left; overflow: hidden">
        <div style="float:left">
            <p>Welcome <strong>@User.Identity.Name</strong>!</p>
        </div>
        <div style="float:right">
            @Html.ActionLink("Log Off", "LogOff", "Account")
        </div>
    </div>
}
else
{
    @Html.ActionLink("Register", "Register", "Account")
    <div class="NavigationBarDivide">
            &nbsp
    </div>
    @Html.ActionLink("Log In", "Login", "Account")
  
}
