<div class="float-left">
    <div class="horizontalAlign">
        <div class="navigationSparkIcon">
            <img src="~/Images/Icons/SparkIcon.jpg" />
        </div>
        <div class="navigationQueryIcon">
            <img src="../../Images/Icons/QIcon.jpg" />
        </div>
    </div>
</div>
<div class="float-right">
    @Html.Partial("_LoginPartial")
</div>
