
<div class="NavigationBarContainer">
    <div class="NavigationBarInnerContainer">
        <div class="NavigationBarLogo">
            <p>S&nbsp P&nbsp A&nbsp R&nbsp K  &nbsp &nbsp I&nbsp T<p>
        </div>
        <div class="NavigationBarHomeIcon">
            <a id="HomeIcon" href="/">Home</a>
        </div>
        <div class="NavigationBarQueryIcon">
            <a href="/Spark/SparkQuery">Query</a>
        </div>
        <div class="NavigationBarDivide">
            &nbsp
        </div>
        <div class="NavigationBarCategoryIcon">
            <a href="/Spark/SparkCategories">Categories</a>
        </div>
        <div class="NavigationBarDivide">
            &nbsp
        </div>
        <div class="NavigationBarCreateIcon">
            <a href="/Spark/SparkCreate">Create</a>
        </div>
        <div class="NavigationBarTitle">
            <p class="NavigationBarTitleP"></p>
        </div>
        @Html.Partial("_LoginPartial")
    </div>
</div>

