
.hidden
{
    display:none;
}

p, a
{
    text-decoration:none;
}

.actionLink
{   
    text-align:center;
    display:block;
    margin-left:-8px;
    padding-top:2px;

    position:relative;
    width:70px;
    height:20px;
}

.NavigationBarHomeIcon:hover, selected,
.NavigationBarQueryIcon:hover, selected,
.NavigationBarCategoryIcon:hover, selected,
.NavigationBarCreateIcon:hover, selected
{
  border-bottom:3px groove white;
}

.NavigationBarHomeIcon:hover a,
.NavigationBarQueryIcon:hover a,
.NavigationBarCategoryIcon:hover a,
.NavigationBarCreateIcon:hover a,
.NavigationBarLoginContainer a:hover
{
  color:white;
}

.NavigationBarContainer
{
  width: 100%;
  height:3em;
  position:fixed;
  z-index:1;

background: linear-gradient(to bottom, #4c4c4c 0%,#666666 0%,#2c2c2c 0%,#595959 0%,#474747 0%,#000000 100%,#1c1c1c 100%,#2b2b2b 100%,#131313 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-8 */
}

.NavigationBarInnerContainer
{ 
  width:75%;
  min-width:850px;
  height: 1.5em; 
  overflow:none;
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.NavigationBarDivide
{
  float:left;
  border-right: 1px solid white;
  margin-right: .5em;
  margin-left: .5em;
}

/*The one between register and login*/
.NavigationBarDivideRegLog
{
  float:left;
  border-right: 1px solid white;
  margin-right: .5em;
  margin-left: .5em;
}

.NavigationBarLogo
{
    display:none;
}

.NavigationBarLogo p
{
  float:left;
  color:white;
  margin: 0 auto;
  margin-top:-7px;
  margin-left:-50px;
  font-size:30px;
}

.NavigationBarHomeIcon
{
  height:32px;
  float:left;
  margin-right:6em;
}

.NavigationBarQueryIcon
{
  height:32px;
  float:left;
}

.NavigationBarCategoryIcon
{
  height:32px;
  float:left;
}

.NavigationBarCreateIcon
{
  height:32px;
  float:left;
}

.NavigationBarTitle
{
  width:250px;
  height: 1.5em;
  
  position:absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.NavigationBarTitle p
{
  color:white;
  margin: 0 auto;
  text-align:center;
  margin-top:-5px;
  font-size:25px;
}

.NavigationBarLoginContainer
{
  float:right;
  height:1.5em;
}

.NavigationBarLoginContainer button
{
  margin: 0 auto;
  float:left;
  
  display: block;
  height: 23px;
  background: gray;
  border: 1px solid rgba(33, 68, 72, 0.59);
     
  color: lightgray;
  cursor:pointer;
  text-align: center;
  font-family:Century Gothic;
  
  background: linear-gradient(top, #34696f, #2f5f63);
  border-radius: 4px;
  width:70px;
  box-shadow: 0 2px 0 #1b383b;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

.NavigationBarLoginContainer button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80,  
                #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

.NavigationBarProfileInfoContainer
{
  float:right;
  width:250px;
}


.NavigationBarProfilePic
{ 
  position:relative;
  margin: auto;
  top: -5px;
  bottom: 0;
  left: 100;
  right: 5px;
  background-color:white;
  width:40px;
  height:35px;
  float:left;
}

.NavigationBarProfileInfoContainer p
{
  margin-top: 0px;
  margin-left:6px;
  float:left;
}

.NavigationBarSettings {
    float:right;
    width:250px;
    margin-left:20px;
}
.NavigationBarSettings ul {
  position:absolute;
  width:200px;
  margin-left:100px;
  margin-top:-37px;
  
}
.NavigationBarSettings li {
    list-style:none;
}
.NavigationBarSettings>ul>li {
    float: left;
    position:relative;
    
    border: 1px solid gray;
}
.NavigationBarSettings>ul>li ul {
    height:100%;
    position:absolute;
    bottom:-100%
}
.NavigationBarSettings>ul>li ul>li {
    bottom:0px;
    display:none;
    width:10em;
    float:left;
    margin-left:-140px;
}
.NavigationBarSettings>ul>li:hover ul>li {
    display:block
}
.NavigationBarSettings a {
    display:block;
    padding: 0px 20px;
    text-decoration: none;
    color: #FFFFFF;
    background:#1A1A1A;
}
.NavigationBarSettings a:hover {
    text-decoration: none;
    cursor:pointer;
    background:#5C4D56;
}
.NavigationBarSettings .active {
}

