.sparkTopicLine
{
  position: fixed;
  width:55%;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  min-width:957px;
  max-width:100%;
  margin-top:-79px;
  z-index:1;
}


.sparkAgree
{
  display:block;
  height:50px;
  background-color:#FF3200;
  float:left;
  width:200px;
  text-align:center;
  margin-top:50px;
  cursor:pointer;
  
  border-radius: 4px;
  box-shadow: 2px 2px 0 #1b383b;
}

.sparkAgree button
{
    float:left;
    height:60px;
    width:60px;
    margin-left:-102px;
}
.sparkAgree a, .sparkDisagree a
{
  display:block;
  position:relative;
  line-height:50px;
  width:200px;
}

.sparkDisagree:hover, .sparkAgree:hover
{
  box-shadow: 0px 0px 0px #1b383b;
}

.sparkDisagree
{
  background-color:#8244D6;
  width:200px;
  text-align:center;
  float:left;
  margin-top:50px;
  
  border-radius: 4px;
  box-shadow: 0px 2px 2px #1b383b;
}

.sparkTopic
{
  padding-top:50px;
  background-color:#082b28;
  float:left;
  width:760px;
  height:200px;
  border-radius:15px;
  border: 3px solid lightgray;
}

.sparkTopic p
{
  padding-top:20px;
  padding-left:1px;
  padding-right:1px;
  color:white;
  text-align:center;
  font-size:23px;
}

.sparkDivider
{
  width:1px;
  position: absolute;
  border-right:2px solid black;
  right: 0;
  left: 0px;
  margin-right: auto;
  margin-left: auto;
  height:80%;
  margin-top:116px;
}

.sparkAgreeSide, .sparkDisagreeSide
{
  position:absolute;
  margin-top:180px;
  height:auto;
  width:50%;
}

    .sparkDisagreeSide
    {
      margin-left:50%;
    }

.sparkArgumentPreviewAgree, .sparkArgumentPreviewDisagree
{
  position:relative;
  width:100%;
  min-width:700px;
}

.sparkArgumentInsideContainerAgree, .sparkArgumentInsideContainerDisagree
{
  position:relative;
  width:90%;
  height:200px;
  border-top: 2px solid black;
  margin-bottom:20px;
  float:left;
  border-radius:3px;
  background-color: ghostwhite;
}

    .sparkArgumentInsideContainerDisagree
    {
      float:right;
    }

    .sparkArgumentInsideContainerAgree a, .sparkArgumentInsideContainerDisagree a
    {
        color:black;
        text-decoration:underline;
    }

.sparkArgumentPreviewTitleLineAgree, .sparkArgumentPreviewTitleLineDisagree
{
  padding:0;
  color:black;
  height:21px;
  background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
}

.sparkUsernameAgree, .sparkUsernameDisagree
{
  padding:0;
  margin:0;
  margin-left:6px;
  font-size:20px;
  float:left;
}
  .sparkUsernameDisagree
   {
     float:right;
     margin-right:6px;
   }

.sparkUpvoteAgree
{
  margin-right:15px;
  float:right
}

.sparkUpvoteDisagree
{
  margin-left:15px;
  float:left
}

.sparkCommentsCountAgree
{
  margin-right:15px;
  float:right;
}

.sparkCommentsCountDisagree
{
  margin-left:15px;
  float:left;
}

.sparkDownvoteAgree
{
  margin-right:8px;
  float:right
}

.sparkDownvoteDisagree
{
  margin-left:8px;
  float:left;
}

.sparkAgreeSpark
{
  margin-right:5px;
  float:left;
}

.sparkUpVote, .sparkDownVote
{
  min-height: 50px;

  width: 0px;
  
  border-style: solid;
  
  cursor:pointer;
}

.sparkUpVote:hover, .sparkDownVote:hover
{
  border-color:darkblue transparent;
}

.sparkUpVote:active
{
  border-width: 0px 20px 19px 20px;
}

.sparkDownVote:active
{
  border-width: 19px 19px 0px 20px;
}

.sparkUpVote
{
    border-color: white transparent;
    border-width: 0px 20px 20px 20px;
    margin-bottom:10px;
}

.sparkDownVote
{
	  border-color: black transparent;
	  border-width: 20px 20px 0px 20px;
    margin-top:10px;
}

.sparkDisagreeSpark
{
  float:right;
}

.sparkInfluenceScoreAgree
{
  float:right;
  margin-right:8px;
  margin-left:20px;
}

.sparkInfluenceScoreDisagree
{
  float:left;
  margin-left:8px;
  margin-right:20px;
}

.sparkArgumentUpDownVoteAgree p, .sparkArgumentUpDownVoteDisagree p
{
    text-align:center;
}

.sparkArgumentUpDownVoteAgree
{
    position:relative;
    float:right;
    margin-right:20px;
}
.sparkArgumentUpDownVoteDisagree
{
    position:relative;
    float:left;
    margin-left:20px;
}


.sparkConclusion
{
  width:95%;
  margin-top:10px;
  margin-left:20px;
  overflow:auto;
  padding:0;
  height:8.6em;
}

.sparkConclusion p
{
  font-family:helvetica;
  font-size:16px;
  padding:0;
  margin:0;
  color:black;
  overflow:hidden;
}

.sparkArgumentFooter
{
  float:left;
  width:98%;
  margin-top:10px;
  padding:0;
  margin-left:8px;
}

.sparkArgumentComments
{
  float:left;
  width:150%;
  margin-top:10px;
  padding:10px;
  margin-left:-170px;
  background-color:white;
}

.sparkAddComment
{
  float:left;
  color:white;
  width:80%;
  text-align:center;
}


.sparkExpandAgree, .sparkExpandDisagree
{
  float:right;
  color:white;
}
  .sparkExpandDisagree
  {
    float:left;
  }

.sparkArgumentFlagAgree, .sparkArgumentFlagDisagree
{
  float:left;
  color:white;
  margin:0;
  padding:0;
}
  .sparkArgumentFlagDisagree
  {
    float:right;
  }
