@{
    ViewBag.Title = "Activate";
}

@if (ViewBag.Activated == "True")
{
    <h2>You have successfully activated!</h2>
    
    
    @Html.ActionLink("Home", "Index" , "Home");
}
else if (ViewBag.Activated == "False")
{
    <h2>
        Failed to activate your account. Please click the link below to generate a new e-mail for activation. If you did not receive an activation e-mail
        check that you have the correct e-mail address associated with your account and try again.
    </h2>
    
    @Html.ActionLink("Try Activation Again", "ResendActivationEmail");
}
else if (ViewBag.Activated == "No Account Found")
{
    <h2>
       Your account could not be retreived.
    </h2>
    
    @Html.ActionLink("Try Activation Again", "ResendActivationEmail");
}
else if (ViewBag.Activated == "E-mail Sent")
{
    <h2>
       Please check your e-mail to activate.
    </h2>
}
